services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    healthcheck: # checks if mysql is ready to accept connections
      test: [""]
      interval: 5s
      timeout: 3s
      retries: 10

  rawg-server:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy 
    environment:
      DATABASE_URL: mysql://root:rootpassword@mysql:3306/rawgDatabase
      JWT_SECRET: dev_secret
    ports:
      - "5000:5000"
    networks:
      - backend
      - frontend
    volumes:
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 5s
      timeout: 3s
      retries: 10

  rawg-client:
    container_name: TransaktionFrontend
    build:
      context: ./TransaktionFrontend
      dockerfile: Dockerfile
    environment:
      VITE_API_URL: http://localhost:5000
      CHOKIDAR_USEPOLLING: true
    depends_on:
      rawg-server:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - frontend
    volumes:
      - ./TransaktionFrontend:/app
      - /app/node_modules # exclude from mounted volumes: much faster startup time, let the container to install the dependencies
volumes:
  mysql_data:

networks:
  backend:
  frontend: