services:
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3307"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql://root:123456@mysql:3306/mydb
      JWT_SECRET: dev_secret
    ports:
      - "5000:5000"        # Backend API runs on port 3306
    networks:
      - backend
      - frontend

  frontend:
    container_name: frontend
    build:
      context: ./TransaktionFrontend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      backend:
        condition: service_started
    ports:
      - "3000:3000"
    networks:
      - frontend
    volumes:
      - ./TransaktionFrontend:/app
      - /app/node_modules

volumes:
  mysql_data:

networks:
  backend:
  frontend:
